# URL publique de l'API backend (Render)
NEXT_PUBLIC_API_URL=https://africa-connect-logistic-backend.onrender.com/api

# URL de l'API en local (développement)
# NEXT_PUBLIC_API_URL=http://localhost:5000/api
